*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

.header .content-box{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/home.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.menu{
    display: inline-flex;
}

.menu h1{
    height: 35px;
    margin: 20px 0 0 110px;
    cursor: pointer;
    color: #fff;
}

.menu .btn{
    padding: 5px 20px;
    background: #ff4d73;
    color: #fff;
    font-size: 16px;
    border: 0;
    position: absolute;
    cursor: pointer;
    right: 10%;
    top: 5%;
}

.banner-text{
    width: 80%;
    color: #fff;
    margin: 16% auto 0;
    text-align: center;
}

.banner-text h2{
    margin-top: 50px;
    font-size: 64px;
}

.banner-text p{
    font-size: 14px;
    margin: 20px 0 50px;
}

.banner-text a{
    text-decoration: none;
    color: #fff;
    border: 1px solid #ff4d73;
    display: block;
    padding: 10px;
    width: 180px;
    margin: auto;
    background: #ff4d73;
    transition: 0.5s;
}

.banner-text a:hover{
    background: transparent;
    color: #ff4d73;
}

/* Service */

.content-box{
    background: #f4f3ff;
    height: 100vh;
    width: 100vw;
}

.container h1{
    text-align: center;
    padding-top: 100px;
}

.container h1::after{
    content: '';
    background: #ff4d73;
    display: block;
    height: 3px;
    width: 120px;
    margin: 20px auto 50px;
}

.services .icon{
    font-size: 30px;
    margin: 20px auto;
    padding: 18px;
    height: 80px;
    width: 170px;
    border: 1px solid #ff4d73;
    border-radius: 50%;
    color: #ff4d73;
}

.services p{
    font-size: 12px;
    margin-top: 10px;
    color: #777;
    padding: 20px;
}

.services span{
    color: #ff4d73;
    transition: .10s;

}

.services .col-md-3:hover{
    background: #ff4d73;
    cursor: pointer;
    color: #fff;
    box-shadow: -5px 5px 10px 10px;
    transition: .10s;
}

.services .col-md-3:hover icon{
    border: 1px solid #fff;
    color: #fff;
}

.services .col-md-3:hover p{
    color: #fff;
}

.services .col-md-3:hover span{
    color: #fff;
}

.services .col-md-3:hover .icon{
    border: 1px solid #fff;
    color: #fff;
}

/* Feature */

.feature h2{
    margin-top: 130px;
}

.feature h2::after{
    content: '';
    background: #ff4d73;
    display: block;
    height: 3px;
    width: 120px;
    margin: 10px auto 50px;
    position: absolute;
}

.feature ul{
    margin-top: 30px;
    margin-left: 50px;
    list-style-type: none;
}

.feature ul li{
    line-height: 40px;
    font-size: 14px;
    position: relative;
}

.feature ul li::after{
    content: '';
    height: 7px;
    width: 7px;
    background: #ff4d73;
    transform: rotate(45deg);
    position: absolute;
    top: 17px;
    left: -25px;
}

.feature img{
    margin-top: 184px;
}

/* Footer */

.footer h1{
    padding-top: 50px;
}

.contact-form{
    padding: 15px;
}

.form-control{
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    margin-bottom: 10px;
}

::placeholder{
    font-size: 12px;
}

.contact-form button{
    border: none !important;
    background: #ff4d73 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.contact-info .follow{
    background-color: #fff;
    padding: 8px;
    margin: 15px;
}

.footer-info p{
    text-align: center;
    color: #ff4d73;
}