*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


::selection{
    background-color: rgb(61, 188, 84);
    color: #fff;
}

body{
    background-color: rgb(251, 246, 246);
}

.header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(3, 30, 54,0.6),rgba(3, 30, 54,0.6)), url(../img/image-header.png);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}

.header .header-container .header-text{
    padding-top: 10rem;
}

.header .header-container .header-text h1{
    font-size: 40px;
    text-transform: uppercase;
}


/* all-images */

.all-images{
    height: 100%;
    width: 100%;
}

.all-images .container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.all-images .container .img-box{
    margin: 2rem;
}

.all-images .container .img-box img{
    width: 300px;
    height: 387px;
    padding: 10px;
}

.all-images .container .img-box:hover{
    box-shadow: 5px 5px 3px rgba(74, 72, 72, 0.8);
}