@media(max-width: 600px){
    .navbar{
        flex-direction: column;
    }
    .navbar .left-navbar{
        margin: 2rem 0;
    }

    .header .header-content{
        padding: 1rem;
        flex-wrap: wrap;
    }
}


@media(max-width: 600px){
    .first-section{
        height: 100vh;
        width: 100%;
        margin-bottom: 50rem;
    }

    .first-section .container{
        flex-direction: column;
    }

    .first-section .right-section img{
       width: 100%;
       padding-top: unset;
    }

    .first-section .right-section p{
       padding: 3rem;
       line-height: 1rem;
    }

    .first-section .container .left-section{
        width: 110vw;
    }
}


@media(max-width: 600px){
    .second-section{
        height: 200vh;
        width: 100%;
    }

    .second-section .container{
        flex-direction: column;
    }

    .second-section .container .left-section img{
        width: 100%;
        padding: unset;
     }

     .second-section .container .right-section p{
        line-height: 1rem;
        width: 20rem;
     }

     .second-section .container .right-section{
        width: 110vw;
    }
}


@media(max-width: 900px){
    .footer{
        height: 100%;
        margin-top: 2vh;
    }
    .footer-container{
        flex-direction: column;
    }

    .footer .footer-container .footer-search-bar{
        margin-top: 2rem;
    }
}


@media(max-width: 1000px){
    .main-container .container{
        flex-direction: column;
    }

    .main-container .container .left-site-items{
        width: 100%;
    }

    .right-site-items .right-container form .fc{
        flex-direction: column;
        align-items: center;
    }

    .right-site-items .right-container form .fc input{
        margin: 1rem 0;
    }

    .right-site-items .right-container{
        height: 100rem;
        width: 100%;
    }
}


@media(max-width: 600px){
    .right-site-items .right-container form .form-msg textarea{
        width: 100%;
    }
}


@media(max-width: 1000px){
    .main-about-section .about-container{
        margin: 0 15rem;
    }
}


@media(max-width: 700px){
    .main-about-section .about-container{
        margin: 0 11rem;
    }
}

@media(max-width: 375px){
    .main-about-section{
        height: 150vh;
    }
}

@media(max-width: 500px){
    .main-about-section .about-container{
        margin: 0 8rem;
    }
}

@media(max-width: 400px){
    .main-about-section .about-container{
        margin: 0 6rem;
    }
}