*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}


.main_header{
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: grid;
    place-items: center;
}


.main_header h1{
    color: transparent;
    background-image: url(./img/img1.png);
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}