*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_header{
    width: 100vw;
    height: 100vh;
    background-color: hsl(212, 29%, 94%);
    display: grid;
    place-items: center;
}


.center_div{
    width: 10rem;
    height: 10rem;
    background-color: #ee5253;
    position: relative;
    transform: rotate(45deg);
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.1);
    animation: hbeat 1s infinite;
}


.center_div::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ee5253;
    position: absolute;
    border-radius: 50%;
    transform: translateY(-50%);
}


.center_div::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ee5253;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
}


@keyframes hbeat{
    0%{
        transform: rotate(45deg) scale(1);
    }
    20%{
        transform: rotate(45deg) scale(1);
    }
    40%{
        transform: rotate(45deg) scale(1.4);
    }
    60%{
        transform: rotate(45deg) scale(1.2);
    }
    80%{
        transform: rotate(45deg) scale(1.4);
    }
    100%{
        transform: rotate(45deg) scale(1);
    }
}