*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georama', sans-serif;
}


body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: #acd2fb;
}


a{
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #073668;
    position: relative;
}


a::before{
    content: 'UDOY RAHMAN';
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #7a004b;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}


a:hover::before{
    opacity: 1;
    transform: rotateX(0deg);
}


a::after{
    content: 'UDOY RAHMAN';
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #811c9b;
    transform: rotateX(270deg);
    transform-origin: bottom;
    transition: all 0.5s;
    transition-delay: 0.3s;
}


a:hover::after{
    opacity: 1;
    transform: rotateX(0deg);
}